{
  "globals": {
    "GIT_COMMIT": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended"
  ],
  "rules": {
    "no-console": "off",
    "vue/html-quotes": "off",
    "vue/no-v-html": "off",
    "vue/this-in-template": "off",
    "vuetify/no-deprecated-classes": "error",
    "vuetify/grid-unknown-attributes": "error",
    "vuetify/no-legacy-grid": "error"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
    "vuetify"
  ]
}