.pcr-icon {
  width: 44px;
  height: 30px;
  background: url('https://mahomaho-insight-cos-1302341499.cos.ap-shanghai.myqcloud.com/image/common/AtlasCommon.png') no-repeat;
}
.pcr-icon-home {
  background-position: 76.144% 26.457%;
  background-size: 670px 768px;
}
.pcr-icon-item {
  background-position: 47.204% 13.059%;
  background-size: 1024px 1024px;
}
.pcr-icon-princesses {
  background-position: 54.162% 20.827%;
  background-size: 800px 768px;
}
.pcr-icon-quests {
  background-position: 62.614% 15.185%;
  background-size: 768px 768px;
}
.pcr-icon-battle {
  background-position: 76.446% 52.634%;
  background-size: 650px 650px;
}
.pcr-icon-batte-rank-calculation {
  background-position: -0.5% 7.712%;
  background-size: 1024px 1150px;
}
.pcr-icon-team-battle {
  background-position: 0 14.964%;
  background-size: 650px 650px;
}
.pcr-icon-team-battle-arrange {
  background-position: 97.793% 29.298%;
  background-size: 768px 768px;
}
.pcr-icon-about-us {
  background-position: 73.044% 15.482%;
  background-size: 900px 900px;
}
.pcr-icon-join-us {
  background-position: 15.789% 56.877%;
  background-size: 512px 512px;
}
.pcr-icon-report {
  background-position: 9.509% 62.12%;
  background-size: 550px 512px;
}
.pcr-icon-friend-link {
  background-position: 14.214% 29.259%;
  background-size: 1100px 1100px;
}
.pcr-icon-planner {
  background-position: 40.261% 81.712%;
  background-size: 800px 800px;
}
.pcr-icon-planner-equipment {
  background-position: 0 19.763%;
  background-size: 720px 720px;
}
.pcr-icon-profile {
  background-position: 45.890% 51.124%;
  background-size: 950px 950px;
}
.pcr-icon-profile-user {
  background-position: 25.585% 88.359%;
  background-size: 600px 550px;
}
.pcr-icon-profile-chara {
  background-position: 93.922% 89.520%;
  background-size: 800px 800px;
}
